
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    color:#fff;
    font-family: "PT Sans",sans-serif;

}

h1 {
    font-family: serif-font;
    font-weight: bold;
}

h2 {
    font-weight: 100;
}

/* Tablet:768px. */
@media (min-width: 768px) {
    h1 {
        font-size:3em;
        line-height: 1.3em;
     }

    h2 {
        font-size:1.7em;
        line-height: 1.5em;
    }

    h3 {
        font-size: 1.2em;
        line-height: 1.7em;
        font-weight: bold;
        margin-bottom: 0;
    }

    p {
        font-size: 1.1em;
        line-height: 1.7em;
    }
    
   }
   
/* Mobile :320px. */
   @media (max-width: 767px) {
     h1 {
        font-size:2em;
        line-height: 1.3em;
     }

     h2 {
        font-size:1.3em;
        line-height: 1.4em;
     }

     h3 {
        font-size: 1.1em;
        line-height: 1.7em;
        font-weight: bold;
        margin-bottom: 0;
    }

     p {
        font-size: 1em;
        line-height:1.7em;
    }
    
   }

em {
    color: #ffc720;
}

mark {
    color: #000;
    font-weight: bold;
    background-color: #ffc720;
    padding: 0 0.1em;
}

blockquote {
    font-style: italic;
    text-align: center;
    padding-inline: 2em;
    p {
        padding-bottom: 0.5em;
    }
}

.blockquote-footer {
    font-style: normal;
    text-align: right;
    color: #fff;
    font-size: small;
}

.full-width {
    width: 100vw;
    position: relative;
    
}

.slanted-t {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 40%);
}

.footer {
    p {
        color: #000;
        font-size: 0.7em;
    }
}